.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-logo img {
  height: auto;
  max-height: 100px;
  width: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e112e; /* Azul oscuro de Vambe */
  padding: 10px 20px;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.nav-button {
  background-color:  #0e112e;
  border-style: dashed;
  color: white;
  border: 2px solid white;
  padding: 12px 20px;
  border-radius: 50px;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.3s ease;
  align-items: center;
  justify-content: center;
}


.nav-button svg {
  margin-right: 8px;
  vertical-align: middle;
}

.nav-button:hover {
  background-color: #1e40af;
}

.nav-button:active {
  transform: translateY(1px);
}
